.studentnum{
    padding: 10px;
    position: fixed;
    top:0px;
    right: 0px;
    border: 3px solid #111;
    color: whitesmoke;
    border-radius: 5px;
    background-color: #111;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar{
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
body{
    margin-left: 250px; /* 사이드바 넓이만큼 여백 추가 */
    padding: 20px;
}